.navbar {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  background-color: #c70f0f;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 100px;
}

