@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
}

html {
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.footerPage {
  background-color: #000000;
  width: 100%;
  height: 60px;
  line-height: 30px;
  color: rgb(197, 11, 11);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.offset-2{
  display: flex;
  flex-flow: column wrap;

  border: solid 2px #707070;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #707070;
  height: 600px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.question h2 {
  font-size: 2.5rem;
}

.question-excerpt {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
}

.question-excerpt:first-of-type {
  padding-top: 0;
}

.question-excerpt h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.answer {
  background: #f0f0f0;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}

.button {
  display: inline-block;
  background: #ea3546;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
}

.right {
  float: right;
}

.scroll {
  display: flex;
  width: 100%;
  height: 648px;
}

.btn-delete {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 30px;
}